{% extends 'products/base.html' %}

{% block title %}
    Products
{% endblock %}

{% block body %}
    <h1>Products</h1>

        <div>
            <form
                hx-post="{{ url_for('products_app.create') }}"
                hx-target="#products-list"
                hx-swap="outerHTML"
                hx-on::after-request="if (event.detail.successful) this.reset()"
            >

                <div>
                    <label for="product-name">Product name</label>
                    <input
                        type="text"
                        id="product-name"
                        name="product-name"
                        required
                    >
                </div>

                <div>
                    <label for="product-price">Product price</label>
                    <input
                        type="number"
                        id="product-price"
                        name="product-price"
                        min="1"
                        max="99999"
                        required
                    >
                </div>

                <button type="submit">Add</button>

            </form>
        </div>

    {% include 'products/components/items-list.html' %}

    {% include 'components/footer-to-index.html' %}
{% endblock %}