.loading-animation {
    display: none;
}

.htmx-request .loading-animation {
    display: inline;
}

.htmx-request.loading-animation {
    display: inline;
}

.fade-me-out.htmx-swapping {
    opacity: 0;
    transition: opacity 3000ms ease-out;
}