<button
    hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
    hx-delete="{{ url_for('products_app.delete', product_id=product.id) }}"
    hx-swap="outerHTML"
{#    add animation in hx-indicator#}
    hx-indicator="#product-{{ product.id }}"
{#    hx-target="closest .product-item"#}
    hx-target="closest li"
    style="cursor: pointer;"
>
    <img
        src="{{ url_for('static', filename="img/trash.svg") }}"
        alt="delete"
        width="10rem"
        height="10rem"
    >

</button>
{% include 'components/loading-animation.html' %}