{% extends 'base.html' %}

{% block title %}
    Index Page
{% endblock %}

{% block body %}
    Happy coding, Eastwesser!

    <h2>
        <a href="{{ url_for('examples_app.index') }}">
            Examples
        </a>
    </h2>

    <span
        {# Use trigger-load below to include counter #}
        hx-trigger="load"
        hx-get="{{ url_for('clicker_app.index') }}"
        hx-swap="outerHTML"
        >Click!
    </span>

    {# This part ignores the previously made click counter after page refreshing #}
    {# {% include 'clicker/index.html' %} #}

    <h4>
        <a href="{{ url_for('clicker_app.index') }}">
            Clicker
        </a>
    </h4>

{% endblock %}
